/* nejsme vcerejsi, pouzivame moderni box model */

*,
 :after,
 :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.5 sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #FEFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 140px;
    height: 140px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
}


/*--------------------------------------*/


/* úkol zkusit si změnit hodnoty, tak aby to něco udělalo a "pohrát si stím" */


/*--------------------------------------*/

.zkoseni {
    background-color: #303F9F;
    transform: skew(-15deg);
    /*transform: skew(15deg, 15deg);*/
}

.rotace {
    background-color: #1976D2;
    transform: rotate(-15deg);
}

.mix {
    background-color: #0288D1;
    transform: rotate(15deg) scale(0.8) skew(-15deg);
}

.translate {
    background-color: #303F9F;
    transform: translate(0, 50%);
}

.zmena-velikosti {
    background-color: #00796B;
    transform: scale(1.3);
}